body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff; /* Açık petrol mavisi */
}

header {
    background-color: #008080; /* Petrol mavisi */
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #005757; /* Daha koyu petrol mavisi */
    padding: 10px;
}

.dropbtn {
    background-color: #008080; /* Petrol mavisi */
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content button {
    color: black;
    padding: 10px;
    text-align: left;
    border: none;
    background: none;
    width: 100%;
}

.dropdown:hover .dropdown-content {
    display: block;
}

main {
    padding: 20px;
}

footer {
    background-color: #008080; /* Petrol mavisi */
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}



